@import 'compass/utilities/general/min'

$top-padding: 40px
$row-height: 335px
$lines-border-style: 1px solid $lines-gray

html, body
  height: 100%

body
  width: 100%
  position: relative

#scroller
  position: absolute
  top: 0
  height: 100%
  width: 100%

#container
  +min-height(100%)
  position: relative

.spinner
  display: block
  height: 55px
  width: 55px
  background: #fff image_url("ajax-loader.gif") no-repeat

ul[role=navigation]
  text-transform: uppercase
    
body
  background-color: $body-background-color
  background: image_url("ibg.png") center top

  #container
    +container
    background: image_url("bg.png")
    padding: 0 $blueprint-grid-margin $blueprint-grid-margin
    border-top: $lines-border-style
  #header, #footer
    +column($blueprint-grid-columns)
  #sidebar 
    z-index: 1000
    +column(2)
    #sidebar-top
      padding-top: $top-padding
      position: relative
      +min-height(215px)
      +column(1)
      +append(1)
      #logo
        margin-left: 17px
        background: #fff image_url("logo.png") no-repeat
        height: 100px
        width: 100px
        a
          width: 100%
          height: 100%
          display: block
          text-indent: -9999px
      #main-nav
        position: absolute
        bottom: 0px
        width: span(1)
        +menu-fonts
        li
          border-bottom: $lines-border-style
        margin-left: 1px

    #sidebar-bottom
      +column(1)
      +prepend(1)
      #sub-nav
        +menu-fonts
        li
          border-top: $lines-border-style
        h2
          padding: 0 5px
