.project {
  &.current .nav { 
    display: block;
  }

  &.first .nav-left {
    display: none;
  }

  &.last .nav-right {
    display: none;
  }

  .nav {
    display: none;
    // .nav-top {
    //   background-position: center top;
    //   top: -25px;
    // }

    // .nav-bottom {
    //   background-position: center bottom;
    //   bottom: -25px;
    // }

    // .nav-top, .nav-bottom, .nav-left, .nav-right {
    // .nav-left, .nav-right {
    //   position: absolute;
    //   cursor: pointer;
    //   text-indent: -999em;
    // }

    // .nav-top, .nav-bottom, .nav-left span, .nav-right span {
    // .nav-left span, .nav-right span {
    //   background: transparent image_url("arrows.png") no-repeat;
    // }

    // .nav-top, .nav-bottom {
    //   left: 300px;
    // }

    // .nav-bottom, .nav-top {
    //   height: 25px;
    //   width: 435px;
    // }

    .nav-left, .nav-right {

      position: absolute;
      cursor: pointer;
      text-indent: -999em;
      height: 36px;
      width: 17px;
      top: 150px;

      span {
        background: transparent image_url("arrows.png") no-repeat;
        display: block;
        height: inherit;
        width: 17px;
      }

      &.nav-left {
        left: 308px - 25px;
        span {
          background-position: left center;
          background: image_url("arrows.png") no-repeat -170px -279px; 
          width: 17px; 
          height: 36px;
        }
      }

      &.nav-right {
        left: 517px + 217px;
        span {
          float: right;
          background-position: right center;
          background: image_url("arrows.png") no-repeat -223px -279px; 
          width: 17px; 
          height: 36px;
        }
      }
    }
  }
}
