.project {
  &.current .nav { 
    display: block;
  }

  &.first .nav-left {
    display: none;
  }

  &.last .nav-right {
    display: none;
  }

  .nav {
    display: none;
    // .nav-top {
    //   background-position: center top;
    //   top: -25px;
    // }

    // .nav-bottom {
    //   background-position: center bottom;
    //   bottom: -25px;
    // }

    // .nav-top, .nav-bottom, .nav-left, .nav-right {
    // .nav-left, .nav-right {
    //   position: absolute;
    //   cursor: pointer;
    //   text-indent: -999em;
    // }

    // .nav-top, .nav-bottom, .nav-left span, .nav-right span {
    // .nav-left span, .nav-right span {
    //   background: transparent image_url("arrows.png") no-repeat;
    // }

    // .nav-top, .nav-bottom {
    //   left: 300px;
    // }

    // .nav-bottom, .nav-top {
    //   height: 25px;
    //   width: 435px;
    // }

    .nav-left, .nav-right {

      position: absolute;
      cursor: pointer;
      text-indent: -999em;
      height: 335px;
      width: 217px;
      top: 0;

      span {
        background: transparent image_url("arrows.png") no-repeat;
        display: block;
        height: inherit;
        width: 27px;
      }

      &.nav-left {
        left: span(2) + $blueprint-grid-margin;
        span {
          background-color: red;
        }
      }

      &.nav-right {
        right: span(1) + $blueprint-grid-margin;
        span {
          float: right;
          background-color: blue;
        }
      }
    }
  }
}
