body.myself {
}
.col1 { 
  @include column(2);
  text-align: right;
  margin-top: 154px;
}
.col2 {
  @include column(3, true);
}
.col2 {
  position: relative;
  top: -130px;
}
.sub1 {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #F00;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1pt;
}
.sub2 {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #F00;
	text-transform: uppercase;
	letter-spacing: 1pt;
	margin-top: -3px;
}
.comp {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #333;
	letter-spacing: .5pt;
	margin-top: -4px;
}
.comp2 {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #666;
	letter-spacing: .5pt;
}
.line {
	line-height: 12pt;
	margin-top: -4px
}
.horizontal_dotted_line
{
border-bottom: 1px dotted #F00;
width: 435px;
} 
.horizontal_dotted_line2
{
border-bottom: 1px dotted #F00;
width: 285px;
}
a:hover {
COLOR: #FF0000;
}