@import 'compass/utilities/general/clearfix'

#projects 
  padding-top: 30px
  a:focus
    outline: none

body.home
  overflow: hidden

  .arrows
    top: 0
    +column(6, true)
    margin-left: -442px
    left: 50%
    position: fixed
  .arrow
    background-color: red
    cursor: pointer
    position: absolute
  #arrow-l, #arrow-r
    height: 40px
    width: 20px
    top: 190px
  #arrow-u, #arrow-d
    height: 20px
    width: 40px
    top: 355px
  #arrow-l
    left: $blueprint-grid-width + $blueprint-grid-margin + 105px
  #arrow-r
    right: 105px
  #arrow-u
    right: 85px
  #arrow-d
    right: 35px

  .slides, .project-description
    height: 335px
  .slide
    float: left
    .image
      img
        width: +span(3)
        height: 335px
        border: 0
        margin: 0
        padding: 0
  .slide-description
    position: absolute
    bottom: 0
    width: 434px
  .slides
    position: absolute
    top: 0
    left: 0
    width: 9999em
  .slides-wrapper
    +column(3)
    position: relative
    height: 335px
    margin-left: $blueprint-grid-outer-width * 2
    overflow: hidden
  .project-description
    +column(1, true)
  .project
    margin-top: $blueprint-grid-margin
    +clearfix
