body.home
  .project
    position: absolute
    top: 0
    +column(4)
    margin-bottom: $blueprint_grid_margin
    .image
      +column(3)
      img
        width: 434px
        height: 335px
        border: 0
        margin: 0
        padding: 0
    .description
      +column(1, true)
      p
        padding: 0 5px
