---
title: About Me
body_class: about
---
<div class="heading">
  <h1>“Its Not How <br> Good I Am,<br> It’s How Good<br> I Want To Be.”</h1>
</div>
<div class="body">
  <p>
    These ideology backs my goal to create original design work that is innovative and thought 
    provoking. For more than 10 years I have been a passionate problem solving designer 
    that creates effective, engaging and memorable work. 
  </p>
  <p>
    I strive to find new and powerful solutions to each and every communication design challenge 
    that I participate in &ndash; with the use of design fundamentals along with current advancements 
    in the industry. 
  </p>
  <p>
    In examining my portfolio, you will detect my proficiency for embracing different medium 
    complexity projects as well as providing quality assurance on creative deliverables.
   </p> 
	<p>
	Variety of experience as a visual and interactive designer has left me with the confidence 
	and versatility to excel in many areas of design.
	</p>
  </p>
</div>
