---
title: Connect
body_class: links threecol
---
<div class="heading">
  <h1>“Invisible Threads Are The Strongest Ties”<span class="comp">~ Friedrich Nietzsche<span></h1>
</div>

<div class="body">
<div>&nbsp;</div>
<div class="horizontal_dotted_line"></div>
  <div class="sub1">
  	 	<p>CONNECT AND CONTACT ME</p>
     	</div>
<p class="comp">Whether your brand needs to be designed from scratch, rebranded, or
you need assistance designing, planning and structuring your website, 
I can help.</p>
  <p class="sub2"><a href="mailto:myself@bhavikaparekh.com">EMAIL</a></p>
  <p class="sub2"><a href="http://www.linkedin.com/in/bhavikaparekh">LINKEDIN</a></p>
  <p class="sub2"><a href="https://twitter.com/#!/myself_bhavika"> TWITTER</a></p>
   <p class="sub2"> DOWNLOAD RESUME</p>
   
   <div>&nbsp;</div>
   <div>&nbsp;</div>
  
  <p class="comp">All works &copy; Bhavika Parekh 2012 or their respective owners. Please do not reproduce without expressed written consent.</p>
  
  
  <div class="horizontal_dotted_line"></div>
</div>
