---
title: Connect
body_class: links threecol
---
<div class="heading">
  <h1>“Invisible Threads Are The Strongest Ties”<span class="comp">~ Friedrich Nietzsche<span></h1>
</div>

<div class="body">
<div>&nbsp;</div>
<div class="horizontal_dotted_line"></div>
  <div class="sub1">
  	 	<p>CONNECT AND CONTACT ME</p>
     	</div>
<p class="comp">Whether your brand needs to be designed from scratch, rebranded, or
you need assistance designing, planning and structuring your website, 
I can help.</p>
  <p class="sub2"><a href="mailto:myself@bhavikaparekh.com">EMAIL</a></p>
  <p class="sub2"><a href="http://www.linkedin.com/in/bhavikaparekh">LINKEDIN</a></p>
  <p class="sub2"><a href="https://twitter.com/#!/myself_bhavika"> TWITTER</a></p>
   <p class="sub2"> DOWNLOAD RESUME</p>
   
   <div>&nbsp;</div>
   <div>&nbsp;</div>
  
  <p class="comp">Having photography as my major elective in my undergraduate school, my love and passion to take picture continues.
  I have travel places and soon I am bringing together a website to showcase my photography. Till then have some glimpse of my some photos.</p>
  <p class="sub2"> FLICKR</p>
  <p class="sub2"> INSTAGRAM</p>
  
  <div class="horizontal_dotted_line"></div>
</div>
