---
title: Education
body_class: education threecol
---
<div class="heading">
  <h1>“Formal Education Will Make You A<br> Living. Self Education Will Make You<br> A Fortune.”<span class="comp">~ Jim Rohn</span></h1>
</div>

<div class="body">
<div class="horizontal_dotted_line2"></div>
  <div class="sub1">
  	 	<p>education</p>
     	</div>
     <div class="comp">
  	 <p>Pratt Institute</p>
     </div>
     
    <p class="comp2">Mumbai, India<br>
June 2000 &ndash; May 2005</p>

<p class="sub2">Masters in Communications <br>
& Interactive Design <br>
(HONOURS WITH DISTINCTION)</p>

 <div class="comp">
  	 <p>Sophia Polytechnic</p>
     </div>
     
    <p class="comp2">New York City, New York<br>
August 2005 &ndash; December 2007</p>

<p class="sub2">Bachelor in Graphic Design</p>
<div class="horizontal_dotted_line2"></div>

</div>
