---
title: Experience
body_class: experience fivecol
---
<div class="heading">
  <h1>“You Can't Be <br> Brave If You've <br>Only Had Wonderful Things Happen <br>To You.”<span class="comp">~ Mary Tyler Moore.<span></h1>
</div>
<div class="body">
  <div class="col1">
  		

  </div>
  
  <!---right column--->
  
   <div class="col2">
   <div class="horizontal_dotted_line"></div>
   		<div class="sub1">
  	 		<p>experience</p>
     	</div>  
		<table width="286" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Creative Dialogue Inc.<br /><span class="comp2"> Art Director / Designer</span></p></td>
    			<td width="135" valign="top"><p class="line">Jersey City, New Jersey<br><span>March 2009 &ndash; Present</span></p></td>
  			</tr>
		</table>
		<p class="sub2">CLIENT : CITI GROUP</p>
     
     		<p>Full- Time Design Consultant to brand and design various e-mail marketing campaigns and web-based advertising within Global Transaction Service (GTS) group. Develop new micro-site designs as per client’s creative brief, and execute per brand standards of Citi Group. Also leading the programming team by managing Web Production of GTS External and Internal Web-site for everyday content updates in aesthetic and timely manner.
   			</p> 
   		<p class="sub2">CLIENTS : OPERA SOLUTIONS, INDABA MUSIC, STEIN ROGAN & PARTNERS  ETC
			<p>Provide design services for Print, Web, Interface and Information design to different clients. 
				</p>
				
<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>	
			 
		<table width="286" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Olive Media LLC<br /><span class="comp2"> Visual / Web Designer</span></p></td>
    			<td width="135" valign="top"><p class="line">New York City, New York
<br><span>May 2008 &ndash; February 2009 </span></p></td>
  			</tr>
		</table>
		<p class="sub2">CLIENTS : HONEYWELL & LA CENSE BEEF</p>
     
     		<p>Multi-disciplinary branding, print, web, exhibition and packaging 
projects executed from beginning to end. Conceptualized and designed brochures, direct mails, banners ads, trade shows graphics, print collateral, posters, flash animations. Involved in user-interface design for web-sites and web-based product from creative direction, concept, design, 
information architecture and site planning. Responsible for multiple projects at one time, including  client communications, creating quality mock-ups, press checks, etc. Also, designed and coded HTML marketing e-mails for various clients.
   			</p> 
   			
   			
   			
   			<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>
   			
   			<table width="286" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Mancini Duffy<br /><span class="comp2"> Visual Designer</span></p></td>
    			<td width="135" valign="top"><p class="line">New York City, New York<br><span>January 2007 &ndash; April 2008</span></p></td>
  			</tr>
		</table>
		<p class="sub2">CLIENT PROJECTS</p>
     
     		<p>Involved in a branding project right from execution to production stage by designing logo, collateral and style guide. Conceptualized and designed Strategy books and internal animation. Assisted in designing environmental graphics and way-finding system for different clients
   			</p> 
   		<p class="sub2">IN-HOUSE PROJECTS</p>
			<p>Branded Center for Workplace Innovation department (CWI) from design ideation to execution. Analyzed and designed Editorial projects such as Promotion Mailer, LEED brochure, Year in Review, Style Guide and Holiday Card. Worked closely with design principal and marketing department to execute pitch boards and proposal books using information design system. Creatively designed poster, t-shirt, coaster, badges, signage and power-point slides for Sustainability Feud LEED event. 
				</p>
				
<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>	

<table width="286" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Pratt Institute<br /><span class="comp2"> Communication Committee Member & Teaching Assistant
</span></p></td>
    			<td width="135" valign="top"><p class="line">New York City, New York<br><span>July 2007 &ndash; January 2008</span></p></td>
  			</tr>
		</table>
		
     
     		<p>Designed newsletter from ideation to final artwork creation for Fall 2007 as a Cc member and been Teaching Assistant to Prof. Antonio Dispigna for Typographic class.
   			</p> 
   		
				
<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>	

<table width="286" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Territory Brands <br /><span class="comp2">Design Intern

</span></p></td>
    			<td width="140" valign="top"><p class="line">New York City, New York<br><span>July 2006&ndash;December 2006</span></p></td>
  			</tr>
		</table>
		
     
     		<p>Produced tone and manner boards for different fashion clients. Worked on designing Brand Identity systems, Print designs and Holiday cards 
for below mention clients.
   			</p> 
   		
				
<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>

<table width="286" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Whet Design Studio<br /><span class="comp2"> Design Intern

</span></p></td>
    			<td width="135" valign="top"><p class="line">New York City, New York<br><span>May 2006 &ndash; August 2006</span></p></td>
  			</tr>
		</table>
		
     
     		<p>Involved creatively in designing and executing Identity, Promotional 
and Web projects for Canon, USA. Worked independently on concept development, logo and collateral design, and typographic layouts.
   			</p> 
   		
				
<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>
   		
  	</div>









</div>
