---
title: Experience
body_class: experience threecol
---
<div class="heading">
  <h1>“You Can't Be <br> Brave If You've <br>Only Had Wonderful Things Happen <br>To You.”<span class="comp">~ Mary Tyler Moore.<span></h1>
</div>
<div class="body">
  <div class="col1">
  		

  </div>
  
  <!---right column--->
  
   <div class="col2">
 
   		<div class="sub1">
  	 		<p>experience</p>
     	</div>  
		<table width="286" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Creative Dialogue Inc.<br /><span class="comp2"> Design Director</span></p></td>
    			<td width="135" valign="top"><p class="line">Jersey City, New Jersey<br><span>March '09 &ndash; Present</span></p></td>
  			</tr>
		</table>
		
			<p>Determine and executes design and production of Print, Identity, Web Design, User Interface and Information design for various clients. Also assist in business development, managing vendors and act as a client liaison.
				</p>
				<p class="sub2">CLIENTS : CITIGROUP, OPERA SOLUTIONS, INDABA MUSIC, STEIN ROGAN & PARTNERS, ETC.</p>
				
<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>	

<table width="286" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Citigroup<br /><span class="comp2"> Web Designer</span></p></td>
    			<td width="135" valign="top"><p class="line">New York City, New York<br><span>June '10 &ndash; December '11</span></p></td>
  			</tr>
		</table>
		
   		
			<p>Designed and branded various web-based advertisements and emails marketing campaigns for GTS marketing.
Involved in developing and executing multiple micro site designs as per internal clients requirement and Citigroup brand standards.
Also led a technical programming team by managing web production of GTS external and internal website for every day content updates in aesthetic and timely manner.
				</p>
				<p class="sub2">CLIENT : CITI Global Transaction Service (GTS)</p>
				
<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>
			 
		<table width="300" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Olive Media LLC<br /><span class="comp2"> Visual / Web Designer</span></p></td>
    			<td width="149" valign="top"><p class="line">New York City, New York
<br><span>May '08 &ndash; February '09 </span></p></td>
  			</tr>
		</table>
		
     
     		<p>Responsible for multi- disciplinary branding, print, web, exhibition and packaging projects. Conceptualized and designed brochures, direct mails, banner ads, trade shows graphics, print collateral, posters, flash animations.
 Provided user interface designs for clients website and application to accommodate multiple navigation alternatives and making it user friendly.</p>
   			
   			<p class="sub2">CLIENTS : HONEYWELL & LA CENSE BEEF</p>
   			
   			<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>
   			
   			<table width="300" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Mancini Duffy<br /><span class="comp2"> Visual Designer</span></p></td>
    			<td width="149" valign="top"><p class="line">New York City, New York<br><span>February '07 &ndash; April '08</span></p></td>
  			</tr>
		</table>
		
     
     		<p>Implemented a strategic creative design of consistent brand identity, logo, collateral and style guides.
 Conceptualized and designed strategy books and internal animations. Assisted in designed environmental graphics and way finding systems for various clients.
   		 Analyzed and designed Editorial projects such as Promotion Mailer, brochure, Year in Review, Style Guide and Holiday Card. Worked closely with design principal and marketing department to execute pitch boards and proposal books using information design system. Creatively designed poster, t-shirt, coaster, badges, signage and power-point slides for Sustainability Feud event. 
				</p>
				<p class="sub2">CLIENTS: HSBC, ARENSON, INTERNAL PROJECTS , ETC.</p>
				
<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>	

	

<table width="300" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Territory Brands <br /><span class="comp2">Design Intern

</span></p></td>
    			<td width="149" valign="top"><p class="line">New York City, New York<br>August '06 &ndash; December '06</p></td>
  			</tr>
		</table>
		
     
     		<p>Produced tone and manner boards for different fashion clients. Worked on designing Brand Identity systems, Print designs and Holiday cards 
for below various clients.
   			</p> 
   		
				
<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>

<table width="300" height="20" border="0" >
  			<tr>
    			<td width="151" valign="top"><p class="comp">Whet Design Studio<br /><span class="comp2"> Design Intern

</span></p></td>
    			<td width="149" valign="top"><p class="line">New York City, New York<br><span>May '06 &ndash; August '06</span></p></td>
  			</tr>
		</table>
		
     
     		<p>Involved creatively in designing and executing Identity, Promotional 
and Web projects for Canon, USA. Worked independently on concept development, logo and collateral design, and typographic layouts.
   			</p> 
   		
				
<div class="horizontal_dotted_line"></div>
<div>&nbsp;</div>
   		
  	</div>









</div>
