---
title: Home
body_class: home
description: Overriding Meta Description
---
<div id="projects">
  <% data.projects.each do |project| %>
    <div class="project" id="<%= project.id %>"> 
      <a href="/#/<%= project.id %>">
        <div class="slides-wrapper"><div class="spinner"></div></div>
      </a>
    </div>
  <% end %>
</div>

<script id="projectTmpl" type="text/x-jquery-tmpl">
  <a href="/#/${id}">
    <div class="slides-wrapper">
      <div class="slides">
        {{if (slides)}}{{tmpl(slides) "#slideTmpl"}}{{/if}}
      </div>
    </div>
  </a>
  <div class="project-description">
    {{html description}}
  </div>
</script>

<script id="slideTmpl" type="text/x-jquery-tmpl">
  <div class="slide">
    <div class="image">
      <img alt="${alt}" src="${src}" title="${title}" />
    </div>
    <div class="slide-description">
      {{html description}}
    </div>
  </div>
</script>
