---
title: Myself
body_class: myself twocol
---
<div class="heading">
  <h1>“It's Not How <br> Good You Are, It’s<br> How Good You<br> Want To Be.”<span class="comp">~ Paul Arden</span></h1>
</div>
<div class="body">
  <p class="sub2">
    Welcome. I am Bhavika Parekh, a designer based in Jersey City, New Jersey.</p>
	<p>Above ideology backs my goal to create original design work that is innovative and thought 
    provoking. For more than 10 years I have been a passionate problem solving designer 
    that creates effective, engaging and memorable work. 
  </p>
  <p>
    I strive to find new and powerful solutions to each and every communication design challenge 
    that I participate in &ndash; with the use of design fundamentals along with current advancements 
    in the industry. 
  </p>
  <p>
    In examining my portfolio, you will detect my proficiency for embracing different medium 
    complexity projects as well as providing quality assurance on creative deliverables.
   </p> 
	<p>
	Variety of experience as a visual and interactive designer has left me with the confidence 
	and versatility to excel in many areas of design.
	</p>
  </p>
  
  <div class="horizontal_dotted_line2"></div>
  
   <div class="sub1">
  	 	<p>EXPERTISE</p>
     	</div>
     <div class="comp">
  	 <p>COMPUTER SKILLS</p>
     </div>
     
    <p>Illustrator, Photoshop, InDesign, ImageReady, QuarkXpress, Dreamweaver, 
Fireworks, Flash, After Effects, HTML, CSS, 
Javascript, OmniGraffle, PowerMapper, 
Microsoft Office, PC + Mac Platform
</p>

 <div class="comp">
  	 <p>OTHER SKILLS</p>
     </div>
     
    <p>User Interface Design, Information Design, Photography, Pre-Press, Hand skills in Illustration, Excellent Organizational, Interpersonal and Communication skills
</p>
<div class="horizontal_dotted_line2"></div>

</div>
