---
title: Resume
body_class: resume fivecol
---
<div class="heading">
  <h1>“Its Not How <br> Good I Am,<br> It’s How Good<br> I Want To Be.”</h1>
</div>
<div class="body">
  <p>
   Brand and design various e-mail marketing campaigns and web-based advertising for Global Transaction Service (GTS) group.
    Develop micro-site designs as per client’s creative brief, and execute per brand standards of Citigroup as well as
     keeping in mind the appropriate UI design pattern and interaction design methodologies. Leading the programming
      team by managing web production of GTS external and internal web-site for everyday content updates in aesthetic 
      and timely manner. Visualizing print materials and presentations from ideation to production. 
  </p>
  <p>
    I strive to find new and powerful solutions to each and every communication design challenge 
    that I participate in &ndash; with the use of design fundamentals along with current advancements 
    in the industry. 
  </p>
  <p>
    In examining my portfolio, you will detect my proficiency for embracing different medium 
    complexity projects as well as providing quality assurance on creative deliverables.
   </p> 
	<p>
    Variety of experience as a visual and interactive designer has left me with the confidence 
    and versatility to excel in many areas of design.
	</p>
  </p>
</div>
